Report/.DS_Store
.DS_Store
.Rhistory
*.pper
.Rproj.user/shared/notebooks/12F4FA38/persistent-state
.Rproj.user/26A054E6/persistent-state
/.Rproj.user/26A054E6
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
globalhealth.Rproj
.Rproj.user/shared/notebooks/12F4FA38-GlobalHealthQuarto6-10/1/26A054E618af06f8/chunks.json
.Rproj.user/shared/notebooks/12F4FA38-GlobalHealthQuarto6-10/1/s/chunks.json
.Rproj.user/shared/notebooks/A56F24E0-GlobalHealthQuarto11-15/1/26A054E618af06f8/chunks.json
.Rproj.user/shared/notebooks/A56F24E0-GlobalHealthQuarto11-15/1/s/chunks.json
.Rproj.user/shared/notebooks/C35B0C4D-GlobalHealthQuartoHC/1/s/chunks.json
.Rproj.user/shared/notebooks/ED6D09CF-GlobalHealthQuarto1-5/1/26A054E618af06f8/chunks.json
.Rproj.user/shared/notebooks/ED6D09CF-GlobalHealthQuarto1-5/1/s/chunks.json
Report/.DS_Store
